<ul class="item_list">
  <% @items.each_slice(25) do |row| %>
    <li class="section_<%= @page_index + 1 %>">
      <% @page_index += 1 %>
      <% row.each do |item| %>
        <b><%= item.name %> </b>
        ($</b><%= number_with_precision(item.price_in_cents.to_f/100, precision: 2) %>, <i><%= item.category %></i>)
        <br>
      <% end %>
    </li>
  <% end %>
</ul>
